PORT=5000
MONGODB_URI=mongodb+srv://davejuliales_db_user:l37NHFcfPd4qRs9L@mytalipapa.xzadqnj.mongodb.net/?appName=MyTalipapa
JWT_SECRET=super_secret_jwt_key_change_me_in_production
NODE_ENV=development
